{% if site.sidebar.recent %}
<div id="recent">
  <h2>Recent Posts</h2>
  <ul>
    {% for post in site.posts limit:10 %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">[{{ post.tag }}] {{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if site.sidebar.tags %}
<div class="category">
  <h2>Categories</h2>
  <ul class="sideBarTags">
    {% assign tags = (site.tags | sort:0) %}
    {% for tag in tags %}
    <li>
      <a href="{{ site.baseurl}}/tag/{{ tag[0] }}" data-toggle="tooltip" data-placement="right" title="{{ tag[1].size }}">
        <span>{{tag[0] }}</span></a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if site.sidebar.github %}
<div class="sidebar button">
    <a class="github-button" href="https://github.com/0xada4d" data-style="mega" aria-label="Follow @0xada4d on GitHub">Follow @0xada4d</a>
</div>
{% endif %}

{% if site.sidebar.twitter %}
<div class="sidebar button">
    <a href="https://twitter.com/0xada4d" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @0xada4d</a><script async="async" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
{% endif %}