 {% include header.html %}
  
    <body>
    
        <header>
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        </header>
      

        <div id="banner">
          <span id="logo"></span>
            <div class="downloads">
              <span></span>
              <ul>
                <li><a class="button" href="/" >Home</a></li>
                <li><a class="button" href="/tags" >Tags</a></li>
                <li><a class="button" href="/archive" >Archive</a></li>
                <li><a class="button" href="/contact" >Contact</a></li>
              </ul>
            </div>
        </div><!-- end banner -->

      <div class="container container-center"> 
           
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <div class="wrapper">
              <section>
              {{ content }}
              </section>
              <footer>
                {% if site.github.is_project_page %}
                 <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
                {% endif %}
              </footer>
            </div>
          </div>
        
          <div class="col-md-4 col-sm-12 d-none d-xl-block">
            <div id="sbar">
              {% include sidebar.html %}
            </div> 
          </div>
        </div>
      </div>
      <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    </body>
</html>